body{
	padding: 50px;
	margin: 0px;
	background-color: #101820;
}

a{
	text-decoration: none;
}

button:focus{
	outline: none;
}

.SavedBalance{
	width: 1fr;
	height: 300px;
	background-color: #f2aa4c;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.SavedBalance_Text{
	font-family: Product Sans;
	font-size: 150px;
	margin: 0;
}

.SavedBalance_Subtext{
	font-family: Product Sans;
	font-size: 50px;
	margin: 0;
}

.SavedBalance_ActionButtons{
	display: grid;
	width: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	margin-top: 10px;
	height: 100px;
}

.SavedBalance_ActionButtons_Button{
	margin: 0;
	background-color: #f2aa4c;
	border-radius: 30px;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SavedBalance_ActionButtons_Button_Text{
	font-family: Product Sans;
	font-size: 50px;
	margin: 0;
	text-align: center;
}

.MenuList{
	display: grid;
	width: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	margin-top: 50px;
	height: auto;
}

.MenuList_Item{
	width: 1fr;
	display: flex;
	align-items: center;
	border-radius: 20px;
	background-color: #242424;
	padding-left: 10px;
	height: 200px;
}

.MenuList_Item_Text{
	font-family: Product Sans;
	font-size: 50px;
	margin-left: 10px;
	color: #f2aa4c;
}
	